[Unit]
Description=Shortens URLs on port 80 requests.
After=network.target

[Service]
WorkingDirectory=/home/homeserver/urlshortner
ExecStart=go run /home/homeserver/urlshortner/main.go
Restart=always
User=root

[Install]
WantedBy=multi-user.target
